<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    
</head>
<body>
       




    </div>
     <!--footer-->
     <footer>  
        <div class="container">
          <div class="col-12 text-center bg-dark" style="color:grey" >
            &copy; Copyright : <strong> Designed by Artitech</strong>
            <div class="links">
            <a href="" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="" class="facebook"><i class="fab fa-facebook"></i></a>
            <a href="" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="" class="linkedin"><i class="fab fa-linkedin"></i></a>
          </div>
          </div>
        </div>
        </footer>
         <!--/footer--> 
        
    
  <!-- ==========js============== -->  
  <script src="assets/js/jquery-3.4.1.min.js"></script>
  <script src="assets/js/popper.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
    
</body>
</html>